In [4]:
#Descriptive Statistics
#In measure of central tendency
#mean,mdian,mode

# Measure of central tendency

In [23]:
#mean
import numpy as np
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]
#using numpy
np.mean(y)

4.933333333333334

In [24]:
print("mean :",np.mean(y))

mean : 4.933333333333334

In [25]:
#created the list into a table format
import pandas as pd
v=pd.DataFrame(data={'values': [1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]})
v

    values
0        1
1        2
2        3
3        4
4        5
5        2
6        5
7        6
8        7
9        8
10       1
11       3
12       8
13       9
14      10

In [26]:
#mean using pandas
v.mean()

values    4.933333
dtype: float64

In [27]:
v.describe()

          values
count  15.000000
mean    4.933333
std     2.963267
min     1.000000
25%     2.500000
50%     5.000000
75%     7.500000
max    10.000000

In [31]:
#median
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]

#using numpy
np.median(y)

5.0

In [32]:
print("median :", np.median(y))

median : 5.0

In [33]:
#using psndas
v.median()

values    5.0
dtype: float64

In [34]:
v.describe()

          values
count  15.000000
mean    4.933333
std     2.963267
min     1.000000
25%     2.500000
50%     5.000000
75%     7.500000
max    10.000000

In [37]:
#mode
#numpy does not has an attribute mode

In [38]:
#using pandas
v.mode()

   values
0       1
1       2
2       3
3       5
4       8

In [39]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

# Measure of Dispersion

In [40]:
#variance
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]

#using numpy
np.var(y)

8.195555555555556

In [41]:
print("variance :",np.var(y))

variance : 8.195555555555556

In [43]:
#using pandas
v.var()

values    8.780952
dtype: float64

In [44]:
#standard deviation
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]

#using numpy
np.std(y)

2.8627880738111853

In [45]:
print("variance :",np.std(y))

variance : 2.8627880738111853

In [46]:
#using pandas
v.std()

values    2.963267
dtype: float64

# 5 number Summary

1.Minimum
2.1st quartile -Q1
3.2nd quartile -Q2(Median)
4.3rd quartile -Q3
5.Maximum

In [47]:
#minimum
y=[c]

#using numpy
np.min(y)

1

In [49]:
print("minimum :",np.min(y))

minimum : 1

In [50]:
# using pandas
v.min()

values    1
dtype: int64

In [53]:
#quartiles
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]

#using numpy
np.quantile(y,[0.25,0.50,0.75])

array([2.5, 5. , 7.5])

In [55]:
print("Q1 : ", np.quantile(y,0.25),
      "Q2 : ", np.quantile(y,0.50),
      "Q3 : ", np.quantile(y,0.75))

Q1 :  2.5 Q2 :  5.0 Q3 :  7.5

In [56]:
#using pandas
v.quantile([0.25,0.50,0.75])

      values
0.25     2.5
0.50     5.0
0.75     7.5

In [57]:
v.describe()

          values
count  15.000000
mean    4.933333
std     2.963267
min     1.000000
25%     2.500000
50%     5.000000
75%     7.500000
max    10.000000

In [58]:
#maximum
y=[1,2,3,4,5,2,5,6,7,8,1,3,8,9,10]
#using numpy
np.max(y)

10

In [59]:
print("maximum :",np.max(y))

maximum : 10

In [60]:
#using pandas
v.max()

values    10
dtype: int64

# Range

In [61]:
#Rang
#using numpy
Ran=np.max(y)-np.min(y)
Ran

9

In [63]:
#using pandas
Range = v.max()-v.min()
Range

values    9
dtype: int64

# IQR

In [65]:
#IQR
#using numpy
IQR = np.quantile(y,0.75)-np.quantile(y,0.25)
IQR

5.0

In [66]:
#using pandas
iqr=v.quantile(0.75)-v.quantile(0.25)
iqr

values    5.0
dtype: float64

# QD

In [67]:
#QD
#using numpy
QD = IQR/2
QD

2.5

In [68]:
#QD
#using pandas
qd=iqr/2
qd

values    2.5
dtype: float64