In [1]:
#Descriptive Statistics
#In measure of central tendency
#mean, median, mode

# Measure of central tendency

In [2]:
#mean 

import numpy as np
J=[1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]
#using numpy
np.mean(J)

5.0625

In [3]:
print("mean : ", np.mean(J))

mean :  5.0625

In [4]:
#created the list into a table format
import pandas as pd
W=pd.DataFrame(data={'values': [1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]})
W

    values
0        1
1        2
2        3
3        4
4        5
5        2
6        4
7        3
8        8
9        5
10       4
11       8
12       9
13      10
14       1
15      12

In [5]:
#mean using pandas
W.mean()

values    5.0625
dtype: float64

In [6]:
W.describe()

          values
count  16.000000
mean    5.062500
std     3.355965
min     1.000000
25%     2.750000
50%     4.000000
75%     8.000000
max    12.000000

In [7]:
#median
X=[1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]

#using numpy
np.median(J)

4.0

In [8]:
print("median : ", np.median(J))

median :  4.0

In [9]:
W.describe()

          values
count  16.000000
mean    5.062500
std     3.355965
min     1.000000
25%     2.750000
50%     4.000000
75%     8.000000
max    12.000000

In [10]:
#mode
#numpy does not has an attribute mode

In [11]:
#using pandas
W.mode()

   values
0       4

In [12]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

# Measure of Dispersion

In [13]:
#variance
J=[1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]

#using numpy
np.var(J)

10.55859375

In [14]:
print("Variance : ", np.var(J))

Variance :  10.55859375

In [15]:
#using pandas
W.var()

values    11.2625
dtype: float64

In [16]:
#standard deviation
J=[1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]

#using numpy
np.std(J)

3.2493989828889895

In [17]:
print("Variance : ", np.std(J))

Variance :  3.2493989828889895

In [18]:
#using pandas
W.std()

values    3.355965
dtype: float64

# 5 number Summary

1.Minimum
2.1st quartile -Q1
3.2nd quartile -Q2(Median)
4.3rd quartile -Q3
5.Maximum

In [19]:
#Minimum
J=[1,2,3,4,5,2,4,3,8,5,4,8,9,10,1,12]

#using numpy
np.min(J)

1