In [1342]:
import pandas as pd

HGC =pd.read_csv('Height of Male and Female by Country.csv')
HGC

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
0,1,Netherlands,183.78,170.36,6.03,5.59
1,2,Montenegro,183.30,169.96,6.01,5.58
2,3,Estonia,182.79,168.66,6.00,5.53
3,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,5,Iceland,182.10,168.91,5.97,5.54
...,...,...,...,...,...,...
194,195,Mozambique,164.30,155.42,5.39,5.10
195,196,Papua New Guinea,163.10,156.89,5.35,5.15
196,197,Solomon Islands,163.07,156.79,5.35,5.14
197,198,Laos,162.78,153.10,5.34,5.02
198,199,Timor-Leste,160.13,152.71,5.25,5.01

In [1343]:
HGC.head()

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
0,1,Netherlands,183.78,170.36,6.03,5.59
1,2,Montenegro,183.30,169.96,6.01,5.58
2,3,Estonia,182.79,168.66,6.00,5.53
3,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,5,Iceland,182.10,168.91,5.97,5.54

In [1344]:
HGC.tail()

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
194,195,Mozambique,164.30,155.42,5.39,5.10
195,196,Papua New Guinea,163.10,156.89,5.35,5.15
196,197,Solomon Islands,163.07,156.79,5.35,5.14
197,198,Laos,162.78,153.10,5.34,5.02
198,199,Timor-Leste,160.13,152.71,5.25,5.01

In [1345]:
HGC['Male Height in Cm'].sum()

34444.72

In [1346]:
HGC['Female Height in Cm'].sum()

32027.64

In [1347]:
HGC['Male Height in Ft'].sum()

1130.08

In [1348]:
HGC['Female Height in Ft'].sum()

1050.8

In [1349]:
HGC['Male Height in Cm'].max()

183.78

In [1350]:
HGC['Female Height in Cm'].max()

170.36

In [1351]:
HGC['Male Height in Ft'].max()

6.03

In [1352]:
HGC['Female Height in Ft'].max()

5.59

In [1353]:
HGC['Country Name'].count()

199

In [1354]:
HGC['Male Height in Cm'].min()

160.13

In [1355]:
HGC['Female Height in Cm'].min()

150.91

In [1356]:
HGC['Male Height in Ft'].min()

5.25

In [1357]:
HGC['Female Height in Ft'].min()

4.95

In [1358]:
HGC="Total number of 199 rows and 6 columns"
(HGC)

'Total number of 199 rows and 6 columns'

In [1359]:
HGC="Male Height in Cm", "Male Height in Ft","Female Height in Cm", "Female Height in Ft"
(HGC)

('Male Height in Cm',
 'Male Height in Ft',
 'Female Height in Cm',
 'Female Height in Ft')

In [1360]:
HGC={"rank":195,"name":"Netherlands","Male Height in Cm":183.78,"Male Height in Ft":6.03}
(HGC)

{'rank': 195,
 'name': 'Netherlands',
 'Male Height in Cm': 183.78,
 'Male Height in Ft': 6.03}

In [1361]:
HGC={"rank":195,"name":"Netherlands","Female Height in Cm":170.36,"Female Height in Ft":5.59}
(HGC)

{'rank': 195,
 'name': 'Netherlands',
 'Female Height in Cm': 170.36,
 'Female Height in Ft': 5.59}

In [1362]:
HGC={"NAME":"Iceland","Female Height in Cm":168.91}
(HGC)

{'NAME': 'Iceland', 'Female Height in Cm': 168.91}

In [1363]:
HGC={"NAME":"Iceland","Female Height in Ft":5.54}
(HGC)

{'NAME': 'Iceland', 'Female Height in Ft': 5.54}